<a href="https://colab.research.google.com/github/mobin-zaman/misc_machine_learning/blob/master/introduction_to_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd

series = pd.Series(["BMW", "Toyota", "Honda"])

series

0       BMW
1    Toyota
2     Honda
dtype: object

In [11]:
colors = pd.Series(["Red", "Blue", "Green"])

colors

0      Red
1     Blue
2    Green
dtype: object

In [12]:
car_data = pd.DataFrame({"Car make":series, "Color":colors})

car_data

  Car make  Color
0      BMW    Red
1   Toyota   Blue
2    Honda  Green

Import Data